body {
    font-family: Raleway;
    transition: background-color, color 2s;
}

.top-container {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.bottom-nav {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}

.bottom-nav a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    padding: 5%;
}

.pre-bottom-nav {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 70px;
    left: 0;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}

.pre-bottom-nav a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    padding: 5%;
}


.table-container {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: center;
}

.table {
    align-self: right;
    width: 90%;
    max-width: 500px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}